<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- script src="cordova.js"></script -->
<script src="lib/ionic/js/ionic.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="Tasks">

    <ion-tabs class="tabs-positive tabs-icon-only">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline">
    <div class="bar bar-header bar-calm">
      <h1 class="title">Home</h1>
    </div>
    <br><br>
    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-compose"></i>
        New Task
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-ios-alarm"></i>
        Tasks
        <span class="badge badge-assertive" ng-init="filter_len = (tasks | filter: { status : tasksIncomplete }).length" ng-repeat="task in tasks | filter: { status : tasksIncomplete }">{{filter_len}}</span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-list"></i>
        Tasks Finish
        <span class="badge badge-assertive" ng-init="filter_len = (tasks | filter: { status : tasksComplete }).length" ng-repeat="task in tasks | filter: { status : tasksComplete }">{{filter_len}}</span>
      </a>

    </div>

  </ion-tab>

  <ion-tab title="About" icon-on="ion-ios-compose" icon-off="ion-ios-compose-outline">
    <div class="bar bar-header bar-calm">
      <h1 class="title">New Task</h1>
    </div>
    <br><br><br>
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="New task" ng-model="newTask.body">
      </label>
      <br> <br>
      <label>
        <button class="button button-calm col col-center" ng-click="addTask()">Enviar</button>
      </label>
    </div>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-alarm" icon-off="ion-ios-alarm-outline">
    <div class="bar bar-header bar-calm">
      <h1 class="title">Tasks</h1>
    </div>
    <div class="list">
      <div class="item item-button-right" ng-repeat="task in tasks" ng-if="task.status === false">
        {{task.body}} 
        <button class="button button-positive" ng-click="updateTask(task.id, task.status = true)">
          <i class="icon ion-checkmark"></i>
        </button>
      </div>
    </div>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
    <div class="bar bar-header bar-calm">
      <h1 class="title">Tasks finish</h1>
    </div>
    <div class="list">
      <div class="item item-button-right" ng-repeat="task in tasks" ng-if="task.status === true">
        {{task.body}}
        <button class="button button-positive">
          <i class="icon ion-checkmark"></i>
        </button>
      </div>
    </div>
  </ion-tab>
</ion-tabs>

  </body>
</html>
