<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet" >

    <!-- IF using Sass (run gulp sass first), then remove the CSS include above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <!-- script src="cordova.js"></script -->
<script src="lib/ionic/js/ionic.min.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>

  <body ng-controller="Tasks">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
          <a class="tab-item" href="index.html">
            <i class="icon ion-home"></i>
            Home
          </a>
          <a class="tab-item" href="new.html">
            <i class="icon ion-ios-compose"></i>
            New Task
          </a>
          <a class="tab-item" href="task.html">
            <i class="icon ion-ios-time"></i>
            Tasks
          </a>
          <a class="tab-item active" href="#">
            <i class="icon ion-ios-list"></i>
            Tasks Finish
          </a>
        </div>
      </div>
      <br><br><br><br><br>


      <div class="bar bar-header bar-calm">
      <h1 class="title">Tasks finish</h1>
    </div>
    <ion-content padding="true" scroll="true" class="test">

    <div class="list">
      <div class="item item-button-right" ng-repeat="task in tasks" ng-if="task.status === true" scroll="true">
        {{task.body}}
        <button class="button button-positive">
          <i class="icon ion-checkmark"></i>
        </button>
      </div>
    </div>
    </ion-content>

  </body>
  </html>